# Supabase PostgreSQL Database Connection URL
# Replace [YOUR-PASSWORD] with the database password set for project flwqjklcqptcvgydzwpq
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.flwqjklcqptcvgydzwpq.supabase.co:5432/postgres"

# JWT Authentication Secret Key
JWT_SECRET="lumina-english-super-secret-jwt-key-2026"

# Port
PORT=3000
